In [2]:
import pandas as pd

apartments = pd.read_csv('../data/Apartments.csv')
employers = pd.read_csv('../data/Employers.csv')
pubs = pd.read_csv('../data/Pubs.csv')
restaurants = pd.read_csv('../data/Restaurants.csv')
schools = pd.read_csv('../data/Schools.csv')

In [3]:
apt = apartments[['apartmentId', 'location', 'buildingId']].copy().rename(columns={"apartmentId":"id"})
apt['location'] = apt['location'].str[7:-1].apply(lambda x: x.split(' ')).apply(lambda x: [float(z) for z in x])
apt['buildingType'] = 'apartment'
apt = apt.reindex(['buildingType', 'id', 'buildingId', 'location'], axis=1)

In [4]:
emp = employers[['employerId', 'location', 'buildingId']].copy().rename(columns={"employerId":"id"})
emp['location'] = emp['location'].str[7:-1].apply(lambda x: x.split(' ')).apply(lambda x: [float(z) for z in x])
emp['buildingType'] = 'employer'
emp = emp.reindex(['buildingType', 'id', 'buildingId', 'location'], axis=1)

In [5]:
pub = pubs[['pubId', 'location', 'buildingId']].copy().rename(columns={"pubId":"id"})
pub['location'] = pub['location'].str[7:-1].apply(lambda x: x.split(' ')).apply(lambda x: [float(z) for z in x])
pub['buildingType'] = 'pub'
pub = pub.reindex(['buildingType', 'id', 'buildingId', 'location'], axis=1)

In [6]:
rest = restaurants[['restaurantId', 'location', 'buildingId']].copy().rename(columns={"restaurantId":"id"})
rest['location'] = rest['location'].str[7:-1].apply(lambda x: x.split(' ')).apply(lambda x: [float(z) for z in x])
rest['buildingType'] = 'restaurant'
rest = rest.reindex(['buildingType', 'id', 'buildingId', 'location'], axis=1)

In [7]:
sch = schools[['schoolId', 'location', 'buildingId']].copy().rename(columns={"schoolId":"id"})
sch['location'] = sch['location'].str[7:-1].apply(lambda x: x.split(' ')).apply(lambda x: [float(z) for z in x])
sch['buildingType'] = 'school'
sch = sch.reindex(['buildingType', 'id', 'buildingId', 'location'], axis=1)

In [8]:
centers = pd.concat([apt, emp, pub, rest, sch], ignore_index=True)

In [9]:
centers.to_json('../data/location_points.json', orient='records')

     buildingType    id  buildingId                                  location
1770          pub   442         556    [964.4380231713202, 3991.603473784208]
1771          pub   443          29    [1809.880173357865, 4339.172426035451]
1772          pub   444        1012    [770.4279044387976, 932.5852003214752]
1773          pub   892         502  [-1524.9573211662105, 3815.271490114369]
1774          pub   893         164  [-1608.766411449925, 3886.4924784954583]
1775          pub   894         238  [-1702.5378155541193, 3865.477090848479]
1776          pub  1342         429  [-260.45747053139064, 5026.150804179361]
1777          pub  1343         489  [-501.42676062779447, 3551.572638649489]
1778          pub  1344         585   [-225.9209866450221, 3878.053697626113]
1779          pub  1798         953   [-3209.738139187618, 6487.657688065099]
1780          pub  1799         234  [-3903.194075780787, 5967.8369837734845]
1781          pub  1800         627  [-3796.1198513891923, 6367.922072582076]